@model List<ProductCategoryViewModel>
<div class="navleft-container">
    <div class="mega-menu-title">
        <h3><span>All Categories</span></h3>
    </div>

    <!-- Shop by category -->
    @*class="nosub"*@
    <div class="mega-menu-category">
        <ul class="nav">
            @foreach (var item in Model.Where(x => x.ParentId == null))
            {
                if (Model.Any(x => x.ParentId == item.Id))
                {
                    <li>
                        <a title="@item.Name" asp-controller="Product" asp-action="Catalog" asp-route-alias="@item.SeoAlias" asp-route-id="@item.Id">@item.Name</a>
                        <div class="wrap-popup column1">
                            <div class="popup">
                                <ul class="nav">
                                    @foreach (var subItem in Model.Where(x => x.ParentId == item.Id))
                                    {
                                        <li> <a title="@subItem.Name" asp-controller="Product" asp-action="Catalog" asp-route-alias="@subItem.SeoAlias" asp-route-id="@subItem.Id"><span>@subItem.Name</span></a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </li>
                }
                else
                {
                    <li class="nosub"><a title="@item.Name" asp-controller="Product" asp-action="Catalog" asp-route-alias="@item.SeoAlias" asp-route-id="@item.Id">@item.Name</a></li>
                }
            }
        </ul>
    </div>
</div>