@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<AppUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}

<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li class="home"> <a title="Go to Home Page" asp-controller="Home" asp-action="index">Home</a><span>&raquo;</span></li>
                    <li><strong>@ViewData["Title"]</strong></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->
<!-- Main Container -->
<section class="main-container col1-layout">
    <div class="main container">
        <div class="page-content">
            <div class="account-login">
                <div class="box-authentication">
                    <section>
                        <form asp-action="Login" asp-controller="Account" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                            <h4>@ViewData["Title"]</h4>                            
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Email"></label>
                                <input asp-for="Email" name="email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password"></label>
                                <input asp-for="Password" name="password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="RememberMe" class="inline">
                                    <input asp-for="RememberMe" name="rememberme" />
                                    @Html.DisplayNameFor(m => m.RememberMe)
                                </label>
                            </div>
                            <button class="button" type="submit"><i class="icon-lock icons"></i>&nbsp; <span>Login</span></button>
                            <button class="button" asp-action="Register" asp-route-returnUrl="@ViewData["ReturnUrl"]"><i class="icon-user icons"></i>&nbsp; <span>Register</span></button>
                            <p class="forgot-pass">
                                <a asp-action="ForgotPassword">Forgot your password?</a>
                            </p>

                            @*<label class="inline" for="rememberme">
            <input type="checkbox" value="forever" id="rememberme" name="rememberme">
            Remember me
        </label>*@
                        </form>
                    </section>
                </div>
                <div class="box-authentication">
                    <section>
                        <h4>Use another service to log in</h4>
                        @{
                            var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                            if (loginProviders.Count == 0)
                            {
                                <div class="col-xs-12">
                                    <div class="alertymes4"> <i class="fa fa-info-circle fa-lg"></i> There are no external authentication services configured. </div>
                                </div>
                            }
                            else
                            {
                                <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                                    <div>
                                        <p>
                                            @foreach (var provider in loginProviders)
                                            {
                                                <button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.Name</button>
                                            }
                                        </p>
                                    </div>
                                </form>
                            }
                        }
                    </section>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Main Container End -->

<partial name="~/Views/Shared/_ServicePartial.cshtml" />
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
