@model HomeViewModel
@{
    ViewData["Title"] = Model.Title;
    ViewData["MetaKeyword"] = Model.MetaKeyword;
    ViewData["MetaDescription"] = Model.MetaDescription;
}
@section Scripts{
    <script src="~/client-app/controllers/home/index.js"></script>
    <script type='text/javascript'>
        var homeController = new HomeController();
        homeController.initialize();
    </script>
}

<!-- Slideshow  -->
<div class="main-slider" id="home">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12 banner-left hidden-xs"><img src="~/client-side/images/banner-left.jpg" alt="banner"></div>
            <div class="col-sm-9 col-md-9 col-lg-9 col-xs-12 jtv-slideshow">
                <div id="jtv-slideshow">
                    <div id='rev_slider_4_wrapper' class='rev_slider_wrapper fullwidthbanner-container'>
                        <div id='rev_slider_4' class='rev_slider fullwidthabanner'>
                            <ul>
                                @foreach (var slide in Model.HomeSlides)
                                {
                                    <li data-transition='fade' data-slotamount='7' data-masterspeed='1000' data-thumb=''>
                                        <img src='~/client-side/images/slider/slide-3.jpg' data-bgposition='left top' data-bgfit='cover' data-bgrepeat='no-repeat' alt="banner" />
                                        <div class="caption-inner">
                                            <div class='tp-caption LargeTitle sft  tp-resizeme' data-x='250' data-y='110' data-endspeed='500' data-speed='500' data-start='1300' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:3; white-space:nowrap;'>@slide.Content</div>
                                            <div class='tp-caption ExtraLargeTitle sft  tp-resizeme' data-x='200' data-y='160' data-endspeed='500' data-speed='500' data-start='1100' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:2; white-space:nowrap; color:#fff; text-shadow:none;'>@slide.Name</div>
                                            <div class='tp-caption' data-x='310' data-y='230' data-endspeed='500' data-speed='500' data-start='1100' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:2; white-space:nowrap; color:#f8f8f8;'>@slide.Description</div>
                                            <div class='tp-caption sfb  tp-resizeme ' data-x='370' data-y='280' data-endspeed='500' data-speed='500' data-start='1500' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4; white-space:nowrap;'><a href='@slide.Url' class="buy-btn">Discover Now</a> </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                            <div class="tp-bannertimer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="~/Views/Shared/_ServicePartial.cshtml" />
<div class="inner-box">
    <div class="container">
        <div class="row">
            <!-- Banner -->
            <div class="col-md-3 top-banner hidden-sm">
                <div class="jtv-banner3">
                    <div class="jtv-banner3-inner">
                        <a href="#"><img src="~/client-side/images/sub1.jpg" alt="HTML template"></a>
                        <div class="hover_content">
                            <div class="hover_data">
                                <div class="title"> Big Sale </div>
                                <div class="desc-text">Up to 55% off</div>
                                <span>Camera, Laptop & Mobile</span>
                                <p><a href="#" class="shop-now">Get it now!</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Best Sale -->
            <div class="col-sm-12 col-md-9 jtv-best-sale special-pro">
                <div class="jtv-best-sale-list">
                    <div class="wpb_wrapper">
                        <div class="best-title text-left">
                            <h2>Special Offers</h2>
                        </div>
                    </div>
                    <div class="slider-items-products">
                        <div id="jtv-best-sale-slider" class="product-flexslider">
                            <div class="slider-items">
                                @foreach (var product in Model.SpecialProductOffers)
                                {
                                    <div class="product-item">
                                        <div class="item-inner">
                                            <div class="product-thumbnail">
                                                @if (product.PromotionPrice.HasValue)
                                                {
                                                    <div class="icon-sale-label sale-left">Sale</div>
                                                }
                                                @if (product.DateCreated >= DateTime.Now.AddDays(-7))
                                                {
                                                    <div class="icon-new-label new-right">New</div>
                                                }
                                                <div class="pr-img-area">
                                                    <a title="@product.Name" asp-controller="Product" asp-action="Details" asp-route-alias="@product.SeoAlias" asp-route-id="@product.Id">
                                                        <figure>
                                                            <img class="first-img" src='@(string.IsNullOrEmpty(product.Image)?"/client-side/images/products/product-1.jpg":product.Image)' alt="@product.Name">
                                                            <img class="hover-img" src='@(string.IsNullOrEmpty(product.Image)?"/client-side/images/products/product-1.jpg":product.Image)' alt="@product.Name">
                                                        </figure>
                                                    </a>
                                                </div>
                                                <div class="pr-info-area">
                                                    <div class="pr-button">
                                                        <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i class="fa fa-heart-o"></i> </a> </div>
                                                        <div class="mt-button add_to_compare"> <a href="compare.html"> <i class="fa fa-link"></i> </a> </div>
                                                        <div class="mt-button quick-view"> <a href="quick_view.html"> <i class="fa fa-search"></i> </a> </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-info">
                                                <div class="info-inner">
                                                    <div class="item-title">  <a title="@product.Name" asp-controller="Product" asp-action="Details" asp-route-alias="@product.SeoAlias" asp-route-id="@product.Id">@product.Name </a> </div>
                                                    <div class="item-content">
                                                        <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                                                        <div class="item-price">
                                                            @*@if (product.PromotionPrice.HasValue)
                                                                {
                                                                    /**/
                                                                    <div class="price-box">
                                                                        <p class="special-price"> <span class="price-label"></span> <span class="price"> @product.PromotionPrice.Value.ToString("C0") </span> </p>
                                                                        <p class="old-price"> <span class="regular-label"></span> <span class="price"> @product.Price.ToString("C0") </span> </p>
                                                                    </div>
                                                                }
                                                                else
                                                                {
                                                                    <div class="price-box"> <span class="regular-price"> <span class="price"> @product.Price.ToString("C0")</span> </span> </div>
                                                                }*@
                                                            <div class="price-box"> <span class="regular-price"> <span class="price"> @product.Price.ToString("C0")</span> </span> </div>
                                                        </div>
                                                        <div class="pro-action">
                                                            <button type="button" class="add-to-cart"><span> Add to Cart</span> </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- All products-->
<div class="container">
    <div class="home-tab">
        <div class="tab-title text-left">
            <h2>Best selling</h2>
            <ul class="nav home-nav-tabs home-product-tabs">
                @for (int i = 0; i < Model.HomeCategories.Count; i++)
                {
                    var category = Model.HomeCategories[i];
                    <li class='@(i==0?"active":"")'><a href="#@category.SeoAlias" data-toggle="tab" aria-expanded="false">@category.Name</a></li>
                }
            </ul>
        </div>
        <div id="productTabContent" class="tab-content">
            @for (int i = 0; i < Model.HomeCategories.Count; i++)
            {
                var category = Model.HomeCategories[i];
                <div class='tab-pane @(i==0?"active":"") in' id="@category.SeoAlias">
                    <div class="featured-pro">
                        <div class="slider-items-products">
                            <div id="computer-slider" class="product-flexslider hidden-buttons">
                                <div class="slider-items slider-width-col4">
                                    @foreach (var product in category.Products)
                                    {
                                        <div class="product-item">
                                            <div class="item-inner">
                                                <div class="product-thumbnail">
                                                    @if (product.PromotionPrice.HasValue)
                                                    {
                                                        <div class="icon-sale-label sale-left">Sale</div>
                                                    }
                                                    @if (product.DateCreated >= DateTime.Now.AddDays(-7))
                                                    {
                                                        <div class="icon-new-label new-right">New</div>
                                                    }
                                                    <div class="pr-img-area">
                                                        <a title="@product.Name" asp-controller="Product" asp-action="Details" asp-route-alias="@product.SeoAlias" asp-route-id="@product.Id">
                                                            <figure>
                                                                <img class="first-img" src='@(string.IsNullOrEmpty(product.Image)?"/client-side/images/products/product-1.jpg":product.Image)' alt="@product.Name">
                                                                <img class="hover-img" src='@(string.IsNullOrEmpty(product.Image)?"/client-side/images/products/product-1.jpg":product.Image)' alt="@product.Name">
                                                            </figure>
                                                        </a>
                                                    </div>
                                                    <div class="pr-info-area">
                                                        <div class="pr-button">
                                                            <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i class="fa fa-heart-o"></i> </a> </div>
                                                            <div class="mt-button add_to_compare"> <a href="compare.html"> <i class="fa fa-link"></i> </a> </div>
                                                            <div class="mt-button quick-view"> <a href="quick_view.html"> <i class="fa fa-search"></i> </a> </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item-info">
                                                    <div class="info-inner">
                                                        <div class="item-title">  <a title="@product.Name" asp-controller="Product" asp-action="Details" asp-route-alias="@product.SeoAlias" asp-route-id="@product.Id">@product.Name </a> </div>
                                                        <div class="item-content">
                                                            <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                                                            <div class="item-price">
                                                                <div class="price-box"> <span class="regular-price"> <span class="price">@product.Price.ToString("C0")</span> </span> </div>
                                                            </div>
                                                            <div class="pro-action">
                                                                <button type="button" class="add-to-cart"><span> Add to Cart</span> </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<div class="featured-products">
    <div class="container">
        <div class="row">
            <!-- Top view -->
            <div class="col-sm-12 col-md-4 jtv-best-sale">
                <div class="jtv-best-sale-list">
                    <div class="wpb_wrapper">
                        <div class="best-title text-left">
                            <h2>Top View</h2>
                        </div>
                    </div>
                    <div class="slider-items-products">
                        <div id="toprate-products-slider" class="product-flexslider">
                            <div class="slider-items">
                                @for (int i = 0; i < Math.Ceiling(Model.ProductsTopViewCount.Count / 2.0); i++)
                                {
                                    <ul class="products-grid">
                                        @foreach (var product in Model.ProductsTopViewCount.Skip(i * 2).Take(2))
                                        {

                                            <li class="item">
                                                <div class="item-inner">
                                                    <div class="item-img">
                                                        <a class="product-image" title="@product.Name" asp-controller="Product" asp-action="Details" asp-route-alias="@product.SeoAlias" asp-route-id="@product.Id">
                                                            <img alt="@product.Name" src='@(string.IsNullOrEmpty(product.Image)?"~/client-side/images/products/product-1.jpg":product.Image)'>
                                                        </a>
                                                    </div>
                                                    <div class="item-info">
                                                        <div class="info-inner">
                                                            <div class="item-title"> <a title="@product.Name" asp-controller="Product" asp-action="Details" asp-route-alias="@product.SeoAlias" asp-route-id="@product.Id">@product.Name </a> </div>
                                                            <div class="rating"> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                                                            <div class="item-price">
                                                                <div class="price-box"> <span class="regular-price"> <span class="price">@product.Price.ToString("C0")</span> </span> </div>
                                                            </div>
                                                            <div class="pro-action">
                                                                <button type="button" class="add-to-cart"><i class="fa fa-shopping-cart"></i></button>
                                                            </div>
                                                            <div class="pr-button-hover">
                                                                <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i class="fa fa-heart-o"></i> </a> </div>
                                                                <div class="mt-button add_to_compare"> <a href="compare.html"> <i class="fa fa-link"></i> </a> </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Banner -->
            <div class="col-md-4 top-banner hidden-sm">
                <div class="jtv-banner3">
                    <div class="jtv-banner3-inner">
                        <a href="#"><img src="~/client-side/images/sub1a.jpg" alt="HTML template"></a>
                        <div class="hover_content">
                            <div class="hover_data bottom">
                                <div class="desc-text">Top Brands at discount prices </div>
                                <div class="title">Electronisc Sale</div>
                                <span>Smartphone & Cell phone</span>
                                <p><a href="#" class="shop-now">Get it now!</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 jtv-best-sale">
                <div class="jtv-best-sale-list">
                    <div class="wpb_wrapper">
                        <div class="best-title text-left">
                            <h2>New products</h2>
                        </div>
                    </div>
                    <div class="slider-items-products">
                        <div id="new-products-slider" class="product-flexslider">
                            <div class="slider-items">
                                @for (int i = 0; i < Math.Ceiling(Model.NewProducts.Count / 2.0); i++)
                                {
                                    <ul class="products-grid">
                                        @foreach (var product in Model.NewProducts.Skip(i * 2).Take(2))
                                        {

                                            <li class="item">
                                                <div class="item-inner">
                                                    <div class="item-img">
                                                        <a class="product-image" title="@product.Name" asp-controller="Product" asp-action="Details" asp-route-alias="@product.SeoAlias" asp-route-id="@product.Id">
                                                            <img alt="@product.Name" src='@(string.IsNullOrEmpty(product.Image)?"~/client-side/images/products/product-1.jpg":product.Image)'>
                                                        </a>
                                                    </div>
                                                    <div class="item-info">
                                                        <div class="info-inner">
                                                            <div class="item-title">   <a title="@product.Name" asp-controller="Product" asp-action="Details" asp-route-alias="@product.SeoAlias" asp-route-id="@product.Id">@product.Name </a> </div>
                                                            <div class="rating"> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                                                            <div class="item-price">
                                                                <div class="price-box"> <span class="regular-price"> <span class="price">@product.Price.ToString("C0")</span> </span> </div>
                                                            </div>
                                                            <div class="pro-action">
                                                                <button type="button" class="add-to-cart"><i class="fa fa-shopping-cart"></i></button>
                                                            </div>
                                                            <div class="pr-button-hover">
                                                                <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i class="fa fa-heart-o"></i> </a> </div>
                                                                <div class="mt-button add_to_compare"> <a href="compare.html"> <i class="fa fa-link"></i> </a> </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Blog -->
<section class="blog-post-wrapper">
    <div class="container">
        <div class="best-title text-left">
            <h2>Our Latest News</h2>
        </div>
        <div class="slider-items-products">
            <div id="latest-news-slider" class="product-flexslider hidden-buttons">
                <div class="slider-items slider-width-col6">
                    @foreach (var blog in Model.LatestBlogs)
                    {
                        <div class="item">
                            <div class="blog-box">
                                <a href="blog_single_post.html"> <img class="primary-img" src='@(string.IsNullOrEmpty(blog.Image)?"~/client-side/images/blog-img1.jpg":blog.Image)' alt="@blog.Name"></a>
                                <div class="blog-btm-desc">
                                    <div class="blog-top-desc">
                                        <div class="blog-date"> @blog.DateCreated.ToString("dd MMM yyyy") </div>
                                        <h4><a href="blog_single_post.html">@blog.Name</a></h4>
                                        <div class="jtv-entry-meta"> <i class="fa fa-user-o"></i> <strong>Admin</strong> <a href="#"><i class="fa fa-commenting-o"></i> <strong>15 Comments</strong></a></div>
                                    </div>
                                    <p>@blog.Description</p>
                                    <a class="read-more" href="blog_single_post.html"> Read More</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@await Component.InvokeAsync("Brand")

<!-- BANNER-AREA-START -->
<section class="banner-area">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-lg-6 col-md-6">
                        <div class="banner-block">
                            <a href="#"> <img src="~/client-side/images/banner-sunglasses.jpg" alt="banner sunglasses"> </a>
                            <div class="text-des-container">
                                <div class="text-des">
                                    <h2>Galaxy Note 5</h2>
                                    <p>Fall Phone 25% off Colorful designs!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-6 col-md-6">
                        <div class="banner-block">
                            <a href="#"> <img src="~/client-side/images/banner-kids.jpg" alt="banner kids"> </a>
                            <div class="text-des-container">
                                <div class="text-des">
                                    <h2>Music & Sound</h2>
                                    <p>For the littlest people</p>
                                </div>
                            </div>
                        </div>
                        <div class="banner-block">
                            <a href="#"> <img src="~/client-side/images/banner-women.jpg" alt="banner women"> </a>
                            <div class="text-des-container">
                                <div class="text-des">
                                    <h2>Best Quality Music</h2>
                                    <p>Modern Headphones designs shop!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-lg-4 col-md-4">
                <div class="banner-block">
                    <a href="#"> <img src="~/client-side/images/banner-arrival.jpg" alt="banner arrival"> </a>
                    <div class="text-des-container">
                        <div class="text-des">
                            <h2>special collection</h2>
                            <p>Sale upto 50% off on selected items</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- BANNER-AREA-END -->
