@model List<ProductCategoryViewModel>
<div class="mtmegamenu">
    <ul class="hidden-xs">
        <!--Home page-->
        <li class="mt-root">
            <div class="mt-root-item">
                <a href="/index.html">
                    <div class="title title_font"><span class="title-text">Home</span></div>
                </a>
            </div>
        </li>
        <!--Products categories-->
        <li class="mt-root">
            <div class="mt-root-item">
                <a href="#">
                    <div class="title title_font"><span class="title-text">Products</span></div>
                </a>
            </div>
            <ul class="menu-items col-xs-12">
                @foreach (var item in Model.Where(x => x.ParentId == null))
                {
                    <li class="menu-item depth-1 menucol-1-3">
                        <div class="title title_font">
                            <a title="@item.Name" asp-controller="Product" asp-action="Catalog" asp-route-alias="@item.SeoAlias" asp-route-id="@item.Id">@item.Name</a>
                        </div>
                        <ul class="submenu">
                            @foreach (var subItem in Model.Where(x => x.ParentId == item.Id))
                            {
                                <li class="menu-item">
                                    <div class="title"> <a title="@subItem.Name" asp-controller="Product" asp-action="Catalog" asp-route-alias="@subItem.SeoAlias" asp-route-id="@subItem.Id">@subItem.Name</a></div>
                                </li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </li>
        <!--Best sellers-->
        <li class="mt-root">
            <div class="mt-root-item">
                <div class="title title_font"><span class="title-text">Best Seller</span></div>
            </div>
            <ul class="menu-items col-xs-12">
                @foreach (ProductViewModel product in ViewBag.BestSellers)
                {
                    <li class="menu-item depth-1 product menucol-1-3 withimage">
                        <div class="product-item">
                            <div class="item-inner">
                                <div class="product-thumbnail">
                                    @if (product.PromotionPrice.HasValue)
                                    {
                                        <div class="icon-sale-label sale-left">Sale</div>
                                    }
                                    <div class="pr-img-area">
                                        <a title="@product.Name" asp-controller="Product" asp-action="Details" asp-route-alias="@product.SeoAlias" asp-route-id="@product.Id">
                                            <figure>
                                                <img class="first-img" src='@(string.IsNullOrEmpty(product.Image)?"/client-side/images/products/product-1.jpg":product.Image)' alt="@product.Name">
                                                <img class="hover-img" src='@(string.IsNullOrEmpty(product.Image)?"/client-side/images/products/product-1.jpg":product.Image)' alt="@product.Name">
                                            </figure>
                                        </a>
                                    </div>
                                    <div class="pr-info-area">
                                        <div class="pr-button">
                                            <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i class="fa fa-heart"></i> </a> </div>
                                            <div class="mt-button add_to_compare"> <a href="compare.html"> <i class="fa fa-signal"></i> </a> </div>
                                            <div class="mt-button quick-view"> <a href="quick_view.html"> <i class="fa fa-search"></i> </a> </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-info">
                                    <div class="info-inner">
                                        <div class="item-title">
                                            <a title="@product.Name" asp-controller="Product" asp-action="Details" asp-route-alias="@product.SeoAlias" asp-route-id="@product.Id">@product.Name</a>
                                        </div>
                                        <div class="item-content">
                                            <div class="rating"> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                                            <div class="item-price">
                                                <div class="price-box"> <span class="regular-price"> <span class="price"> @product.Price.ToString("C0")</span> </span> </div>
                                            </div>
                                            <div class="pro-action">
                                                <button type="button" class="add-to-cart" style="padding-bottom:12px;"><span> Add to Cart</span> </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </li>
        <!--Blogs page-->
        <li class="mt-root">
            <div class="mt-root-item">
                <a href="index.html">
                    <div class="title title_font"><span class="title-text">Blogs</span></div>
                </a>
            </div>
        </li>
        <!--Ablout page-->
        <li class="mt-root">
            <div class="mt-root-item">
                <a href="/about.html">
                    <div class="title title_font"><span class="title-text">About us</span></div>
                </a>
            </div>
        </li>
    </ul>
</div>